/* Mixins */

@mixin font($name, $file) {
  @font-face {
    font-family: $name;
    src: url('../../res/fonts/' + $file + '.ttf') format('truetype');
  }
}

@mixin barIconSize() {
  width: $size_bar_icon_size;
  height: $size_bar_icon_size;
}
