/* Fonts */

@import 'font';

@include font('SourceBold', 'SourceCodePro-Bold');
@include font('SourceLight', 'SourceCodePro-Light');
@include font('SourceMedium', 'SourceCodePro-Medium');
@include font('Source', 'SourceCodePro-Regular');
@include font('UbuntuBold', 'Ubuntu-Bold');
@include font('UbuntuLight', 'Ubuntu-Light');
@include font('UbuntuMedium', 'Ubuntu-Medium');
@include font('Ubuntu', 'Ubuntu-Regular');

/* Color Variables */

$color_black: #000000;

$color_white: #ffffff;

$color_slate_gray_5: #f2f4f5;
$color_slate_gray_10: #e6e8eb;
$color_slate_gray_20: #d1d5d9;
$color_slate_gray_30: #b8bfc4;
$color_slate_gray_40: #9ea7ad;
$color_slate_gray_50: #808991;
$color_slate_gray_60: #636c73;
$color_slate_gray_70: #525a61;
$color_slate_gray_80: #40474d;
$color_slate_gray_90: #303538;
$color_slate_gray_100: #212529;

$color_blue_gray_5: #f2f6fc;
$color_blue_gray_10: #d6deeb;
$color_blue_gray_20: #94a2b8;
$color_blue_gray_30: #738096;
$color_blue_gray_40: #59667a;
$color_blue_gray_50: #475161;
$color_blue_gray_60: #384252;
$color_blue_gray_70: #2e3847;
$color_blue_gray_80: #212b3b;
$color_blue_gray_90: #17202e;
$color_blue_gray_100: #0f1724;

$color_light_steel_blue_5: #f7fafc;
$color_light_steel_blue_10: #f0f5fa;
$color_light_steel_blue_20: #e3edf7;
$color_light_steel_blue_30: #d6e3f0;
$color_light_steel_blue_40: #ccd9e6;
$color_light_steel_blue_50: #c4d1de;
$color_light_steel_blue_60: #b3c2d1;
$color_light_steel_blue_70: #9eafbf;
$color_light_steel_blue_80: #8c9dad;
$color_light_steel_blue_90: #7d8e9e;
$color_light_steel_blue_100: #70808f;

$color_dodger_blue_5: #ebf6ff;
$color_dodger_blue_10: #cce8ff;
$color_dodger_blue_20: #99d1ff;
$color_dodger_blue_30: #66baff;
$color_dodger_blue_40: #339cf2;
$color_dodger_blue_50: #1f8ce6;
$color_dodger_blue_60: #0077d9;
$color_dodger_blue_70: #0062b3;
$color_dodger_blue_80: #005499;
$color_dodger_blue_90: #004680;
$color_dodger_blue_100: #003866;

$color_red_5: #fce8e6;
$color_red_10: #fabab3;
$color_red_20: #f5948a;
$color_red_30: #ed6d5e;
$color_red_40: #eb5847;
$color_red_50: #e64937;
$color_red_60: #d93826;
$color_red_70: #c93221;
$color_red_80: #ba2c1c;
$color_red_90: #ab2617;
$color_red_100: #942114;

$color_orange_5: #ffeee6;
$color_orange_10: #ffccb3;
$color_orange_20: #ffaa80;
$color_orange_30: #ff884d;
$color_orange_40: #fa722e;
$color_orange_50: #fa5300;
$color_orange_60: #e64d00;
$color_orange_70: #cc4400;
$color_orange_80: #b33b00;
$color_orange_90: #993300;
$color_orange_100: #802b00;

$color_green_5: #f1faeb;
$color_green_10: #ddf2cc;
$color_green_20: #b2e08f;
$color_green_30: #7bcf3b;
$color_green_40: #5abf0d;
$color_green_50: #4fb303;
$color_green_60: #469e03;
$color_green_70: #409103;
$color_green_80: #398003;
$color_green_90: #2c6600;
$color_green_100: #214d00;

$color_brown_5: #fff9f0;
$color_brown_10: #f5e8d4;
$color_brown_20: #e6cfad;
$color_brown_30: #d1aa70;
$color_brown_40: #c29757;
$color_brown_50: #b0874a;
$color_brown_60: #a37a3d;
$color_brown_70: #8f6930;
$color_brown_80: #805b24;
$color_brown_90: #6b4a1a;
$color_brown_100: #5c3f14;

$color_yellow_5: #fffffa;
$color_yellow_10: #ffffe1;
$color_yellow_20: #ffffc8;
$color_yellow_30: #ffffaf;
$color_yellow_40: #ffff96;
$color_yellow_50: #ffff7d;
$color_yellow_60: #ffff64;
$color_yellow_70: #ffff48;
$color_yellow_80: #ffff32;
$color_yellow_90: #ffff19;
$color_yellow_100: #ffff00;

$color_error: $color_red_20;

$color_icon: $color_slate_gray_10;

$color_nav_background: #343a40;
$color_body_background: #1e2028;

$color_default_color: $color_slate_gray_10;

/* Sizes Variables */

$size_bar_right_button_margin_left: 0.7rem;
$size_bar_height: 2rem;
$size_bar_icon_size: 1rem;

@mixin barIconSize() {
  width: $size_bar_icon_size;
  height: $size_bar_icon_size;
}

/* Utils */

.hidden {
  display: none !important;
}

.fixed_top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed_bottom {
  position: fixed !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/* Selection */

::selection {
  background: $color_error;
}

/* UI */

@import 'tag';

.button {
  color: $color_default_color;
  line-height: 0;
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  outline: none;
  transition: opacity .15s ease, background-color .15s ease, color .15s ease, border .15s ease;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: $color_nav_background;
}

.navbar_brand {
  color: $color_white;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  &:focus, &:hover {
    text-decoration: none;
  }
}

/* Title Nav Bar */

#title_bar {
  height: $size_bar_height;
  -webkit-app-region: drag;
  span {
    font-size: 0.9rem;
  }
}

.title_bar_right_buttons {
  float: right;
  line-height: 0;
  -webkit-app-region: no-drag;
  .title_bar_button {
    margin-left: $size_bar_right_button_margin_left;
  }
}

.title_bar_button {
  opacity: .7;
  &:focus, &:hover {
    opacity: .95;
  }
  svg {
    @include barIconSize();
    fill: $color_icon;
  }
}

/* Body */

body {
  font-family: UbuntuLight;
  color: $color_default_color;
  background-color: $color_body_background;
  user-select: none;
}

#app_body {
  margin-top: $size_bar_height;
  display: inline-block;
  width: 100%;
}

/* Drop Zone */

.dropzone_background {
  margin: 80px 5rem;
  height: 160px;
  background: rgba(48,53,56,0.3);
  border: 2px dashed $color_slate_gray_50;
  border-radius: 10px;
}

.dropzone {
  margin: 0;
  padding: 0;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(64,71,77,0.3);
  box-sizing: border-box;
  border-radius: 5px;
  color: $color_default_color;
  font-size: 1.1em;
  text-align: center;
  text-shadow: 0 1px 1px $color_black;
}

@keyframes processing {
  50% {
    background: rgba(0,98,179,0.5);
    border: 2px dashed $color_dodger_blue_70;
  }
  100% {
    background: rgba(48,53,56,0.3);
    border: 2px dashed $color_slate_gray_50;
  }
}

.dropzone_processing {
  animation: processing 2s ease-in-out infinite;
}

.dropzone_active {
  box-shadow: inset 0 0 20px 10px $color_dodger_blue_70;
  border: 2px dashed $color_dodger_blue_70;
}

.dropzone_waiting_label {
  padding-top: 30px;
}

.dropzone_processing_label {
  padding-top: 62px;
}

#dropzone_import {
  display: none;
}

.dropzone_import_button {
  display: inline-block;
  margin-top: 0.55rem;
  padding: .3rem .6rem;
  border-radius: 5px;
  text-align: center;
  background: $color_dodger_blue_80;
  &:focus, &:hover {
    background: $color_dodger_blue_70;
  }
  svg, span {
    display: inline-block;
    vertical-align: top;
  }
  svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: $color_icon;
  }
  span {
    margin-top: 11px;
    margin-left: 5px;
    padding-right: 2px;
  }
}

/* Report */

ol {
  counter-reset: item;
  list-style-type: none;
  padding: 0 0;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  &:first-child {
    margin-top: 1rem;
  }
}

.report_item {
  border: 1px;
}

.item_fatal {

}

.item_error {

}

.item_warning {

}

.item_usage {

}

/* Control Bar */

#control_bar {
  height: $size_bar_height;
}

.control_bar_summary {
  display: inline-block;
  padding-bottom: 0.2rem;
}

.control_bar_result_summary, .time_ago {
  display: inline-block;
  font-family: UbuntuLight;
  color: $color_slate_gray_50;
  font-size: 0.8rem;
}

.result_fatal {
  &:focus, &:hover {
    color: $color_red_70;
  }
}

.result_error {
  &:focus, &:hover {
    color: $color_red_40;
  }
}

.result_warning {
  &:focus, &:hover {
    color: $color_yellow_50;
  }
}

.result_usage {
  &:focus, &:hover {
    color: $color_dodger_blue_60;
  }
}

.control_bar_right_buttons {
  float: right;
  line-height: 0;
  .control_bar_button {
    margin-left: $size_bar_right_button_margin_left;
  }
}

.control_bar_button {
  opacity: .7;
  svg {
    @include barIconSize();
    fill: $color_icon;
  }
}

#control_bar_retry {
  &:focus, &:hover {
    fill: #ff884d;
    opacity: .95;
  }
}

#control_bar_done {
  &:focus, &:hover {
    fill: #7bcf3b;
    opacity: .95;
  }
}
