/* Report Item */

.report_item {
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem 1rem;
  position: relative;
}

.report_id {
  padding-bottom: 0.5rem;
  line-height: 1;
  font-size: 0.8rem;
}

.report_message {
  line-height: 1.2;
  text-indent: 0.5rem;
  hyphens: auto;
}

@each $color-name, $color in $colors {
  @each $color-type, $color-value in $color {
    @if $color-name == "state" {
      .item_#{$color-type} {
        background-color: rgba($color-value, 0.15);
        border-color: rgba($color-value, 0.2);
        color: darken($color-value, 10%);
        a { color: darken($color-value, 20%); }
      }
    }
  }
}
