body {
  font-family: UbuntuLight;
  color: getColor(text, base);
  background-color: getColor(background, body);
  user-select: none;
  overflow: hidden;
}

#app_body {
  margin: $size_bar_height 0;
  display: inline-block;
  width: 100%;
}

.scroll_thumb {
  background: getColor(background, thumb);
}
